html {
  height: 100;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

.debug-bar {
  background: #1f1f1f;
  color: #fff;
  display: flex;
  position: fixed;
  top: 10px;
  left: 10px;
}

.debug-bar .debug-bar-info {
  margin: 0 10px;
}

