html {
  height: 100;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c59d76;
}

.debug-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #1f1f1f;
  color: #fff;
  display: flex;
  position: fixed;
  top: 10px;
  left: 10px;
}

.debug-bar .debug-bar-info {
  margin: 0 10px;
}

